{% extends "site_base.html" %}

{% block body %}
<div class="container container-home">

  <header class="masthead">
    <h1>API Tester</h1>
    <p>Amazing online tool to create automatic acceptance tests for REST/JSON APIs.</p>
    <p class="actions">
      <a href="{% url feditor_project company='demo' project='twitter' %}" class="btn btn-large btn-primary">Try Demo</a>
      {% if not user.is_authenticated %}
        <a href="{% url signup %}" class="btn btn-large btn-success">Free Sign Up</a>
      {% endif %}
    </p>
  </header>

  <div class="menu menu-home">
    {% if user.is_authenticated %}
      <a href="{% url logout %}">Sign Out</a>
    {% else %}
      <a href="{% url login %}">Sign In</a>
    {% endif %}
  </div>

  {% if messages %}
    <div class="alert">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="marketing">
    <div class="row">
      <div class="span6 item">
        <!-- TODO big image on click -->
        <img src="{{ STATIC_URL }}imgs/marketing_1.png" />
        <h3>Easy to use</h3>
        <p>
          API Tester was developed for <b>QA engineers</b> and <b>Project Managers</b>.
          You don't need to know any programming languages to use it.
        </p>
      </div>

      <div class="span6 item">
        <!-- TODO big image on click -->
        <img src="{{ STATIC_URL }}imgs/marketing_1.png" />
        <h3>Clean reports</h3>
        <p>
          Test runs generate well-looking reports. It's an easy task with API
          Tester to understand what's broken.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="span6 item">
        <!-- TODO big image on click -->
        <img src="{{ STATIC_URL }}imgs/marketing_1.png" />
        <h3>Ideal for mobile applications</h3>
        <p>
          You can be absolutely sure who is responsible for errors: Server-team
          or iPhone-app team.
        </p>
      </div>

      <div class="span6 item">
        <!-- TODO big image on click -->
        <img src="{{ STATIC_URL }}imgs/marketing_1.png" />
        <h3>Share in one click</h3>
        <p>
          Share test-fails with developers in one click.
        </p>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <h2>Testimonials</h2>
    <div class="row">
      <div class="span6">
        <img src="{{ STATIC_URL }}imgs/anyap.gif" />
        <p>
          “It's fucking awesome! API Tester saved my life and relationship with
          clients. No more recriminations.”
        </p>
        <p class="author">Anna Parfenova, account manager <a href="http://touchinstinct.com">Touch Instinct</a></p>
      </div>
    </div>
  </div>
</div>

{% include '_footer.html' %}
{% endblock %}
