{% extends 'site_base.html' %}

{% block pagetitle %}Projects | {{ block.super }}{% endblock %}

{% block content %}
  <header class="subhead">
    <div class="row">
    <h1 class="span6">Test Projects</h1>
    </div>

    <div class="row">
      <div class="well span6">
        <p>Test Project is a holder for concrete API tests.</p>
        <p>Test Project </p>
      </div>
    </div>
  </header>

  <ul class="projects">
    {% for project in projects %}
      <li>
        <a href="{% url frunner_project_runs company_slug=company.slug project_slug=project.slug %}">
          {{ project.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
