{% load bootstrap %}

<h2 class="testcase-header">
    {{ testcase.name }} <small>{% if testcase.need_login %}needs login{% endif %}</small>
    <form class="delete_form" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete_testcase">
        <input type="hidden" name="testcase" value="{{ testcase.pk }}">
    </form>
</h2>

<ol class="teststeps">
    {% for step in testcase.steps.all %}
        <li><span>
            <span class="method">{{ step.get_method_display }}</span> {{ step.url }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="save_step">
                <input type="hidden" name="teststep" value="{{ step.pk }}">
                <table class="params js_params table table-striped table-bordered">
                <tbody>
                {% for name, value in step.params.items %}
                    <tr class="step_{{ name }}">
                        <td class="name"><input type="hidden" name="js_{{ name }}" value="{{ value }}">{{ name }}</td>
                        <td class="value">{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                <button class="btn btn-primary js_save" style="display:none">Save</button>
            </form>
        </span></li>
    {% endfor %}
</ol>

<form class="add-step-form">
    {{ add_step_form|bootstrap }}
</form>

<p class="add-buttons">
<button class="add-test btn">Add Query</button>
<button class="add-test btn">Add Assert</button>
</p>
