{% extends "base.html" %}

{% block body %}
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{% url home %}">APITester</a>
        <ul class="nav">
          <li><a href="#">Projects</a></li>
          <li><a href="{% url frunner_projects %}">Runs</a></li>
          <li class="active"><a href="{% url feditor_project company='demo' project='twitter' %}">DEMO EDIT</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#">&times; Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% if messages %}
    <div class="alert">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>
  {% include '_footer.html' %}
{% endblock %}
