{% extends 'site_base.html' %}

{% block content %}
  <header class="subhead" id="overview">
    <h1>Project “{{ project.name }}” runs</h1>
  </header>

  <form method="POST" action="{% url frunner_run_project company_slug=company.slug project_slug=project.slug %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary btn-large" value="Run now!" />
  </form>

  <ul class="runs">
    {% for run in runs %}
      <li class="{{ run.result }}">
        <a href="{% url frunner_testrun company_slug=company.slug project_slug=project.slug testrun_number=run.pk %}">
          {{ run.start_date }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
