{% extends 'site_base.html' %}

{% block pagetitle %}{{ testrun.human_name }} | {{ project.name }} | APITester{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span2 sidebar">
      <h1>{{ project.name }}</h1>
      <h3>{{ testrun.human_name }}</h3>
      <ul class="testcases">
        {% for tc in testrun.testcases.all %}
          <li{% if tc.pk == testcase.pk %} class="active"{% endif %}>
            <a href="{% url frunner_testrun company_slug=company.slug project_slug=project.slug testrun_number=testrun.number testcase_slug=tc.slug %}">
              {{ tc.result_symbol }}
              {{ tc.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% include 'fortuitus/feditor/_add_testcase_form.html' %}
    </div>

    <div class="span10">
      {% if not testcase %}
        <div class="hero-unit">
          <h1>No testcases found</h1>
        </div>
      {% else %}
        {% include 'fortuitus/frunner/_testcase.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footerjs %}
Fortuitus.frunner.initTestrun();
{% endblock %}
