{% extends 'site_base.html' %}

{% block pagetitle %}{{ testrun.human_name }} | {{ project.name }} | APITester{% endblock %}

{% block favicon %}
  {% if testrun.result_str == 'pending' %}
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ STATIC_URL }}favicon_pending.ico" />
  {% elif testrun.result_str == 'fail' or testrun.result_str == 'error' %}
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ STATIC_URL }}favicon_fail.ico" />
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span2 sidebar">
      <h1><a href="{% url frunner_project_runs company_slug=company.slug project_slug=project.slug %}">{{ project.name }}</a></h1>
      <h3 class="testrun-name result-{{ testrun.result_str }} js-testrun-human-name">{{ testrun.human_name }}</h3>
      <ul class="testcases">
        {% for tc in testrun.testcases.all %}
          <li class="js-testcase-list-{{ tc.pk }} result-{{ tc.result_str }}{% if tc.pk == testcase.pk %} active{% endif %}">
            <span class="result-symbol">&bull;</span>
            <a href="{% url frunner_testrun company_slug=company.slug project_slug=project.slug testrun_number=testrun.number testcase_slug=tc.slug %}">
              {{ tc.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
{#      {% include 'fortuitus/feditor/_add_testcase_form.html' %}#}
    </div>

    <div class="span10 js_testcase_wrapper">
      {% if not testcase %}
        <div class="hero-unit">
          <h1>No testcases found</h1>
        </div>
      {% else %}
        {% include 'fortuitus/frunner/_testcase.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footerjs %}
Fortuitus.frunner.initTestrun();
{% if testrun.result_str == 'pending' %}
  Fortuitus.frunner.startProgressWatch({% if testcase.result_str == 'pending' %}true{% endif %});
{% endif %}
{% endblock %}
