.testrun-name.result-pending {
  padding-left: 20px;
  margin-left: -20px;
  background: transparent url(../imgs/throbber-small.gif) no-repeat 0 50%;
}

.testcases li .result-symbol {
  font-size: 200%;
  vertical-align: middle;
}
  .testcases li.result-fail .result-symbol,
  .testcases li.result-error .result-symbol {
    color: #a00;
  }
  .testcases li.result-success .result-symbol {
    color: #0a0;
  }
  .testcases li.result- .result-symbol,
  .testcases li.result-pending .result-symbol {
    color: #aaa;
  }

.testcase-header .result-symbol {
  font-size: 200%;
  vertical-align: middle;
}
.testcase-header.result-fail .result-symbol,
.testcase-header.result-error .result-symbol {
  color: #a00;
}
.testcase-header.result-success .result-symbol {
  color: #0a0;
}
.testcase-header.result- .result-symbol,
.testcase-header.result-pending .result-symbol {
  color: #aaa;
}

.teststeps-results {
}
  .teststeps-results li .params {
    width: auto;
    min-width: 30em;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
  }
    .teststeps-results li .params td.name,
    .teststeps-results li .params td.value,
    .teststeps-results li .params td.expression {
      width: 33%;
    }

  .teststeps-results li .headers {
    width: auto;
    min-width: 30em;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
  }
    .teststeps-results li .headers .name {
      min-width: 20ex;
    }

   .teststeps-results .well {
     word-wrap: break-word;
     word-break: break-all;
     white-space: pre-wrap;
   }

  .teststeps-results li.result-error div.teststep-wrapper,
  .teststeps-results li.assert.result-fail div.teststep-wrapper {
    margin: 0 0 0 -10px;
    padding: 10px;
    border: 1px solid #a00;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 0 10px #a00;
    -moz-box-shadow: inset 0 0 10px #a00;
    box-shadow: inset 0 0 10px #a00;
  }
  .teststeps-results li.result-,
  .teststeps-results li.result-pending {
    opacity: 0.5;
  }
  .teststeps-results .request-wrapper {
    display: none;
  }
  .teststeps-results .response-header {
    padding-top: 1em;
  }
  .teststeps-results .response-wrapper {
    display: none;
  }

  .teststeps-results .assert .assert-values {
    padding: 0 0 0 30px;
    font-size:80%;
    color: #999;
  }
